#include  <iostream>
using namespace std;
void myFunction() {     
  static int myVariable = 0;    
  myVariable++;      
  cout << "myVariable = " << myVariable << endl;    
}
int main() {
  myFunction(); // myVariable = 1  
  myFunction(); // myVariable = 2  
  myFunction(); // myVariable = 3  
}
